<div class="card event-card">

    <div class="event-time">{{event.data.time}}</div>

    <div class="event-info">
        <div>

            <div class="location-address">
                <img class="icon" src="{{'/img/icon-location.svg' | url}}" width="16" height="16"/>
                <div>
                    <div class="location">{{event.data.location}}</div>
                    {% if event.data.address %}
                        <a class="address" href="{{event.data.locationLink | url}}">{{ event.data.address }}</a>
                    {% endif %}
                </div>
            </div>

            <div class="event-details">{{event.data.details}}</div>

            {% if event.data.link %}
            <div class="event-link">
                <a href="{{event.data.link | url}}" target="_blank">
                    <img src="{{'/img/icon-external-link.svg' | url}}" width="16"/>
                    <span>Event Details</span>
                </a>
            </div>
            {% else %}
            <div class="event-no-link">Details Coming Soon</div>
            {% endif %}
        </div>
    </div>

</div>