.splide__arrow{
    transition: all 0.25s ease;
    width:2.5rem;
    height:2.5rem;
}

.splide__pagination{
    bottom:2rem;
    .splide__pagination__page{
        width:12px;
        height: 12px;
        margin:6px;
        &.is-active{
            transform:scale(1);
            opacity: 1;
        }
    }
}

.content-blocks{
  .content-block{
    margin:3rem 0;
  }
  @media(min-width:768px){
    display: flex;
    flex-wrap: wrap;
    margin:3rem 0;
    .content-block{
      width:50%;
      margin:1rem 0;
      &:nth-child(odd){
        padding-right:2rem;
      }
      &:nth-child(even){
        padding-left:2rem;
      }
    }
  }
}