*{
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: $font_main;
  background-color: white;
  color: $dark;
  font-size: 16px;
  margin:0;
  overflow-x: hidden;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

p{
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 0 24px;
  @media(max-width:767px){
    font-size: 0.875rem;
  }
}

strong{
  font-weight: 700;
}

a{
  color: $primary;
  transition: all 0.25s ease;
  &:hover{
    color: $primary-200;
  }
}

hr{
  border: 0;
  border-bottom:3px solid $light;
  margin:4rem 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display{
  margin:0 0 18px;
  a{
    text-decoration: none;
  }
}

.display{
  font-size:2.75rem;
  @media(max-width:767px){
    font-size: 2.25rem;
  }
}

h1, .h1 {
  font-size: 2.5rem;
  @media(max-width:767px){
    font-size: 1.875rem;
  }
}

h2, .h2{
  font-size: 2.25rem;
  @media(max-width:767px){
    font-size: 1.625rem;
  }
}

h3, .h3{
  font-size: 2rem;
  @media(max-width:767px){
    font-size: 1.5rem;
  }
}

h4, .h4{
  font-size: 1.5rem;
  @media(max-width:767px){
    font-size: 1.25rem;
  }
}

h5, .h5{
  font-size: 1.25rem;
  @media(max-width:767px){
    font-size: 1.125rem;
  }
}

h6, .h6{
  font-size: 1.125rem;
  @media(max-width:767px){
    font-size: 1rem;
  }
}

.font-light{
  font-weight: 300;
}

.font-normal{
  font-weight: 400;
}

.font-bold{
  font-weight: 600;
}

.leading-tight{
  line-height: 1.25;
}

.leading-snug{
  line-height: 1.375;
}

.leading-normal{
  line-height: 1.5;
}