#home{
    background-size: cover;
    background-position: center;
    padding:4rem 0;
    color: white;
    .container-lg > *{
        max-width:700px;
    }
    @media(min-width:600px){
        padding:6rem 2vw;
    }
    @media(min-width:1024px){
        padding:8rem 2vw;
    }
    @media(min-width:1280px){
        padding:9rem 2rem;
    }
}

#team{
    background-color: $light;
    .team-card{
        padding:2.5rem;
        @media(max-width:767px){
            padding:2rem;
        }
        .avatar{
            border-radius: 12px;
            width:250px;
        }
        .member-role{
            display: block;
            margin-bottom:4px;
            font-weight: bold;
        }
        .member-org{
            margin-bottom:16px;
            a{
                font-size: 15px;
                color: $dark;
                text-decoration: none;
                &:hover{
                    color: $primary;
                }
            }
        }
        .excerpt{
            @media(max-width:767px){
                font-size: 0.875rem;
            }
        }
        .bio{
            display: none;
        }
        .show-bio{
            margin-top:1.5rem;
            &:hover{
                span{
                    text-decoration: underline;
                }
            }
        }
        &.bio-show{
            .excerpt{
                display: none;
            }
            .bio{
                display: block;
            }
            .show-bio{
                .icon{
                    transform:rotate(180deg);
                }
            } 
        }
        @media(max-width:767px){
            .avatar{
                display: block;
                margin:0 auto 1.5rem;
            }
            text-align: center;
        }
        @media(min-width:768px){
            display: flex;
            align-items: flex-start;
            .avatar{
                margin-right:3rem;
            }
        }
    }
}

#events{
    padding-bottom:6rem;
    .splide__slide, .fewer-events > div{
        padding:30px 12px;
        @media(max-width:600px){
            padding:30px 0;
        }
    }
    .fewer-events{
        display: flex;
        justify-content: center;
    }
    .splide__slide{
        .event-card{
            @media(max-width:1023px){
                width:100%;
            }
        }
    }
    .event-card{
        width:330px;
        height: 100%;
        border-radius: 8px;
        margin:0;
        display: flex;
        flex-direction: column;
        .event-time{
            background-image: linear-gradient(to right, $accent, $primary);
            color: white;
            text-transform: uppercase;
            padding:5px 20px;
            letter-spacing: 1px;
            font-weight: 500;
        }
        .event-info{
            padding:16px 20px 24px;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: space-between;
            .location-address{
                display: flex;
                margin-bottom:16px;
                img{
                    position: relative;
                    top: 5px;
                    margin-right:6px;
                }
                .location{
                    font-weight: 600;
                }
            }
            .event-link, .event-no-link{
                margin-top: 1rem;
                letter-spacing: 0.05rem;
                font-weight: 500;
            }
            .event-link{
                a{
                    text-decoration: none;
                    display: flex;
                    img{
                        margin-right:8px;
                    }
                    &:hover{
                    text-decoration: underline;
                    }
                }
            }
            .event-no-link{
                color: $gray-300;
            }
        }
    }
    .splide__pagination{
        bottom:-1.5rem;
        .splide__pagination__page.is-active{
            background-color: $accent;
        }
    }
}

#training-material{
    height:500px;
    background-color: $dark;
    color: white;
}

#success-stories{
    .story{
        &>div{
            h3{
                margin-bottom: 0.5rem;
            }
            h4{
                margin-bottom:2.5rem;
            }
            .pill:first-child{
                margin-top:1.25rem;
            }
            .pill:not(:first-child){
                margin-top: 2.5rem;;
            }
        }
        @media(min-width:1024px){
            display: flex;
            &>div{
                &:first-child{
                    width:45%;
                    flex-shrink: 0;
                    margin-right:4rem;
                }
            }
        }
    }
}