body{
  position: relative;
  right:0;
  transition: all 0.25s ease;
}
header{
    background: white;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 6px 12px rgba(black, 0.05);
    .container-fluid{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height:70px;
    }
    .site-title img{
      height:40px;
      margin-top:10px;
    }
    .menu-toggle{
      cursor: pointer;
      background-color: transparent;
      border: 0;
      .bar {
        display: block;
        width: 26px;
        height: 2px;
        margin: 6px 0;
        transition: 0.25s;
        background-color: $dark;
      }
    }
    nav{
      display: flex;
      li{
        list-style: none;
        padding:0 20px;
      }
      a{
        display: block;
        text-decoration: none;
        padding:10px 15px;
        color: $dark;
        letter-spacing: 0.025rem;
        font-weight: 500;
        line-height: 1;
        border-radius: 4px;
        &:hover{
          color: $dark;
          background-color: rgba($primary, 0.1);
        }
      }
    }
    @media(max-width:1023px){
      nav{
        flex-direction: column;
        justify-content: center;
        position: fixed;
        width: 240px;
        top: 0;
        bottom: 0;
        right:-240px;
        transition: all 0.25s ease;
        background-color: $dark;
        li{
          padding:10px 25px;
        }
        a{
          color: white;
          &:hover{
            color: white;
            background-color: rgba(white, 0.1);
          }
        }
      }
    }
    @media(min-width:1024px){
      .menu-toggle{
        display: none;
      }
      nav{
        margin-top:2px;
        margin-right:-20px;
        
      }
    }
  }

body.menu-open{
  right:240px;
  header{
    .menu-toggle{
      .bar{
        &:nth-child(1){
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }
    }
    nav{
      right:0;
    }
  }
}

footer{
  background-color: $dark;
  color: $gray-200;
  padding:2rem 0;
  font-size: 0.875rem;
}