
header{
    background: white;
    .container-fluid{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height:70px;
    }
    .site-title img{
      height:36px;
      margin-top:18px;
    }
    nav{
      display: flex;
      margin-right:-20px;
      li{
        list-style: none;
        padding:0 20px;
      }
      a{
        display: block;
        text-decoration: none;
        padding:5px;
        color: $dark;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
      }
    }
  }