
.btn{
    display: inline-block;
    background-color: $accent;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    box-shadow: none;
    border:0;
    border-radius: 100px;
    padding:18px 26px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.25s ease;
    &:hover{
      background-color: $accent-200;
      color: white;
    }
    @media(max-width:767px){
      padding:14px 22px;
    }
  }

  .btn-text{
    background:transparent;
    border:0;
    font-size: 16px;
    color: $primary;
    font-family: $font_main;
    padding:0;
    width:auto;
    cursor: pointer;
    font-weight: 500;
    img{
      position: relative;
      top: 1px;;
      margin-left:2px;
    }
  }

  .container-lg{
    max-width:1380px;
  }
  
  .container{
    max-width:1120px;
  }

  .container-md{
    max-width:900px;
  }

  .container-sm{
    max-width:700px;
  }

  .container, .container-md, .container-sm, .container-lg{
    margin-left:auto;
    margin-right:auto;
  }
  
  .container-fluid, .container, .container-md, .container-sm, .container-lg{
    padding-left: $container_padding;
    padding-right:$container_padding;
  }

  .hidden{
    display: none;
  }

  .py-8{
    padding-top:2rem;
    padding-bottom:2rem;
  }

  .py-16 {
    padding-top:4rem;
    padding-bottom:4rem;
  }

  .py-20 {
    padding-top:5rem;
    padding-bottom:5rem;
  }

  .mb-6{
    margin-bottom:1.5rem;
  }

  .mb-12{
    margin-bottom:3rem;
  }

  .my-8{
    margin-top:2rem;
    margin-bottom:2rem;
  }

  .my-12{
    margin-top:3rem;
    margin-bottom:3rem;
  }

  .my-16{
    margin-top:4rem;
    margin-bottom:4rem;
  }

  .text-center{
    text-align: center;
  }

  .font-bold{
    font-weight: bold;
  }

  .label{
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .pill{
    width:42px;
    height:6px;
    background-color: $accent;
    border-radius: 3px;
    margin-bottom:18px;
  }

  .card{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 16px rgba(black, 0.1);
    margin:2rem 0;
    overflow: hidden;
  }

  .text-gradient span{
    background: linear-gradient(to right, $accent, $primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }