
$dark: #2b2b2c;
$light: #f2f2f3;

$gray-100:#e3e3e3;
$gray-200: #9d9ea0;
$gray-300: #5d5e64;

$primary-100: #c5c9dd;
$primary: #011993;
$primary-200: #00157c;

$accent-100: #ebd6e6;
$accent: #942193;
$accent-200: #741672;

$gradient: linear-gradient(-55deg, $accent, $primary);

$font_main: "Poppins", sans-serif;

$container_padding:28px;