---
layout: base.njk
---

<section id="home" style="background-image:url({{hero.backgroundImage | url}})">
    <div class="container-lg">
        <h1 class="h4 label">{{hero.title}}</h1>
        <h2 class="font-light mb-12">{{hero.subtitle | safe}}</h2>
        <a class="btn" href="{{hero.buttonLink}}">{{hero.buttonText}}</a>
    </div>
</section>

<section id="about" class="py-20">
    <div class="container-md text-center">
        <img class="mb-6" src="{{about.image | url}}" width="300" height="auto"/>
        <h2 class="h4 font-light">{{about.title | safe}}</h2>
    </div>
    <div class="container">
        <div class="content-blocks">
            {% for block in about.content %}
            <div class="content-block">
                <div class="pill"></div>
                <h3 class="h5">{{ block.title }}</h3>
                <p>{{ block.content | safe }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="team" class="py-20">
    <div class="container">
        <h2 class="text-center h3 mb-6">Our Team</h2>
        <div class="team-cards">
        {% set sortedTeam = collections.team | sort(attribute='filePathStem') %}
        {% for member in sortedTeam %}
            <div class="card team-card">
                <img class="avatar" src="{{ member.data.avatar | url}}" width="250" height="250"/>
                <div>
                    <h3 class="h4">{{ member.data.name }}</h3>
                    <div class="member-meta">
                        <div class="member-role">{{ member.data.role }}</div>
                        <div class="member-org"><a href="{{member.data.link | url}}" target="_blank">{{ member.data.org }}</a></div>
                    </div>
                    <div class="excerpt">{{ member.data.excerpt | safe }}</div>
                    <div class="bio">{{ member.data.bio | safe }}</div>
                    <button class="show-bio btn-text">
                        <span>Show More</span>
                        <img class="icon" src="{{'/img/icon-down.svg' | url}}" width="14" height="14"/>
                    </button>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

<section class="py-20" id="events">
    <div class="container">
        <h2 class="text-center h3">Upcoming Events</h2>
        {% set sortedEvents = collections.events | sort(attribute='filePathStem') %}
        {% if sortedEvents | length > 3 %}
        <div class="splide splide-events" aria-label="Pose events">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for event in sortedEvents %}
                        <li class="splide__slide">
                            {% include "eventCard.njk" %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <div class="fewer-events">
            {% for event in sortedEvents %}
               <div> {% include "eventCard.njk" %}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>

<section id="training-material" class="py-20">
    <div class="container">
        <h2 class="h3">Training Material</h2>
         <div class="content-blocks">
            {% for block in training.material %}
            <div class="content-block">
                <div class="pill"></div>
                <h3 class="h5">{{ block.title }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="success-stories" class="py-20">
    <div class="container-md text-center">
        <h2 class="h3">{{stories.title}}</h2>
        <h3 class="h4 font-light">{{stories.subtitle | safe}}</h3>
    </div>
    <div class="container">
        {% for story in stories.stories %}
            <hr>
            <div class="story">
                <div>
                    <h3 class="display text-gradient leading-snug"><span>{{ story.title }}</span></h3>
                    <h4 class="font-normal">{{ story.subtitle | safe }}</h4>
                    {% if story.image %}
                    <img class="mb-6" src="{{story.image | url}}" alt="{{ story.title }}" width="100%" height="auto"/>
                    {% endif %}
                </div>
                <div>
                    {% for item in story.content %}
                    <div class="pill"></div>
                    <h5>{{item.title}}</h5>
                    <p>{{item.text | safe}}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>